name: CI

on: [push]

jobs:
  sast_scan:
    name: Run SAST scan via bandit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install bandit
        run: |
          pip install bandit
      - name: Run bandit scan
        run: |
          bandit -r . -ll -ii --output_file bandit_report.json -f json
      
      - name: Upload bandit report
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: bandit-findings
          path: bandit_report.json